

<style>

.calib-canvas {
  position: relative;
  width: 640px;
  height: 480px;
}
.calib-canvas canvas {
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;
}

.calib-tools input {
  color: black;
}

</style>

<div class="grid G1b2">
  <div class="placeholder">
    <span style="font-size:12px;font-style:italic;color:whitesmoke;">Target stream</span>
    <select ng-model="targetDevice">
      <option value="CAM0">CAM0 ('/dev/video1')</option>
      <option value="CAM1">CAM1 ('/dev/video2')</option>
    </select>
    <button class="tuum-btn tuum-warning" ng-click="grabFrame()">Grab frame</button>
  </div>

  <div class="clearfix"></div>

  <div class="pull-left calib-canvas">
    <canvas id="calib-canvas"></canvas>
    <canvas id="calib-overlay"></canvas>
  </div>

  <div class="pull-left calib-tools">
    <ul>
      <li><button ng-click="debug()">Pick color</button></li>
      <li><input type="number" ng-model="pplConfig.FisheyePwr"> <button ng-click="PPLConfigUpdate()">Set</button></li>
    </ul>

    <div>
      <span>{{ mousePos }}</span>
    </div>

    <div>
      <span ng-repeat="S in selectedShades" style="color:rgb({{S[0]}}, {{S[1]}}, {{S[2]}});">
        <{{ S }}>
      </span>
    </div>
  </div>
</div>
