
<div class="row">
  <div flex="50" layout="row" layout-padding>
    <span style="font-size:12px;font-style:italic;color:whitesmoke;">Target stream</span>
    <select ng-model="targetDevice">
      <option value="CAM0">CAM0 ('/dev/video1')</option>
      <option value="CAM1">CAM1 ('/dev/video2')</option>
    </select>
    <button class="tuum-btn tuum-warning" ng-click="grabFrame()">Grab frame</button>
  </div>

  <div layout="row">
    <section flex=60 layout="column" class="stream-width calib-canvas" layout-padding>
      <div style="display:flex;position:relative;max-height:70%;padding:0;">
        <canvas id="calib-overlay" class="overlay-canvas"></canvas>
        <canvas id="calib-canvas" class="base-canvas">
        </canvas>
        <span style="z-index:3;position: absolute;right: 0;font-size: 7px;padding:0; pointer-events:none;">{{ mousePos }}</span>
      </div>

      <section flex>
        <md-content>
          <div>
            <span ng-if="selRange != null" style="color:rgb({{selRange[0]}}, {{selRange[1]}}, {{selRange[2]}})">{{selRange}}</span>
            <!--
            <span ng-repeat="S in selRanges" style="color:rgb({{S[0]}}, {{S[1]}}, {{S[2]}});">
              {{ S }}
            </span>-->
            <span ng-if="selRange == null">No selection.</span>
          </div>
          <div class="pull-right">
            <span ng-if="vFilterUI.selInfo != null" class="tuum-label">{{ vFilterUI.selInfo }}</span>
            <button ng-disabled="vFilterUI.selInfo == null" ng-click="vFilterUI.onUpdate();" class="tuum-btn tuum-success">Update</button>
            <button ng-disabled="vFilterUI.selInfo == null" ng-click="vFilterUI.onClear();" class="tuum-btn tuum-warning">Set</button>
            <button ng-disabled="vFilterUI.selInfo == null" ng-click="vFilterUI.onSet();" class="tuum-btn">Clear</button>
          </div>
        </md-content>
      </section>
    </section>

    <section flex layout="column" class="stream-width calib-tools" layout-padding>
      <div ng-cloak>
        <md-content>
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="VFilter">
              <md-content class="md-padding">
                <div ng-if="vFilter != null" class="vfilter-rows">
                  <p ng-repeat="f in vFilter.classes" ng-class="{'sel': vFilterUI.clsId == f.id }" ng-click="vFilterUI.selectClass(f.id);">{{f}}</p>
                </div>
              </md-content>
            </md-tab>
          </md-tabs>
        </md-content>
      </div>
    </section>

  </div>
</div>
